<nav class="top">
    <div class="left">
        <a href="#">Home</a>
        <span class="dot">•</span>
        <a href="#">Login</a>
        <span class="dot">•</span>
        <a href="#">Register</a>
        <span class="dot">•</span>
        <a href="#">Community</a>
        <span class="dot">•</span>
        <a href="#">QnA</a>
    </div>
    <div class="right">
        <a href="#">Adv</a>
        <span class="dot">•</span>
        <a href="#">Help</a>
        <span class="dot">•</span>
        <a href="#">070-7893-1741</a>
    </div>
</nav>