<table class='menus' cellpadding='0' cellspacing='0' width='100%' background="themes/mall_philgo/img/mm_back_2.gif">
    <tr class='caption' height='38'>
        <td width='10' height='38' style='width:10px;overflow:hidden;' height='38' background="themes/mall_philgo/img/mm_left_2.gif"><div style='width:10px;'></div></td>
        <td width='99%' nowrap valign='top'>... menu ...</td>
        <td width='10' style='width:10px;overflow:hidden;' height='38' background="themes/mall_philgo/img/mm_right_2.gif"><div style='width:10px;'> </div></td>
    </tr>
</table>
