{% include 'themes/mall_philgo/templates/header.top.html.twig' %}


<div class="content">
    <div class="center">
        <img src="themes/mall_philgo/img/logo.png">
        <form>
            <input type="text">
        </form>
    </div>
    <div class="left">
        <img src="https://www.philgo.com/data/upload/7/1137527">
    </div>
    <div class="right">
        <img src="https://www.philgo.com/data/upload/7/1228737">
    </div>

</div>


{% include 'themes/mall_philgo/templates/header.menu.html.twig' %}
